:root {
  --black: #353238;
  --accent: #FFB17A;
  --primary: #D6C592;
  --green: #ACD8AA;
  --blue: #ACCBEC;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pixelify Sans", sans-serif;
  src: local('MyFont'), url(./fonts/MyFont.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}
